@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">News Portal</h1>
    <p>The fastest and reliable 24/7 news update platform.</p>
    <p>Let's get to know things of your interest.</p>
</div>
